@charset "utf-8";
/* CSS Document */

#header-css {
	text-align: left;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	color:#403321;
	padding: 20px 0px 0px 20px;
	font-size: 30px;
	background-image: url(../images/HeaderColor.jpg);
	background-repeat: repeat-y;
	background-size: 100%;
	position: relative;
	padding-bottom: 5px;
	
}
#name{
	float: left;
	width: 25%;
}
#header-nav{
	left: inherit;
	position: relative;
}
ul{
	
	position: relative;
	list-style: none;
	display: block;
	overflow: hidden;
	color: white;
	cursor:pointer;
	
}
li{
	display: inline-block;
	padding-left: 10px;
	color: black;
}
li a{
	
	text-decoration: none;
	
	
}
li a:hover{
	color: white;
	text-decoration-style: wavy;
}
li.login-name{
	float: right;
	background: none;
    border: none;
    cursor: pointer; default;
    font-size: 20px;
    postion:relative;

	
}

li.loginbutton{
	
	float: right;
	position:relative;

}


.linkButton { 
     background: none;
     border: none;
     cursor: pointer; 
    font-size: 20px;


     
}
.linkbutton:hover{
	color: white;
	text-decoration-style: wavy;
}